# ------------------------------------
# Файл сгенерирован для Python-проекта
# ------------------------------------

# Виртуальные окружения
# Исключаем папку с зависимостями, чтобы не хранить её в репозитории.
# Она легко воссоздаётся из requirements.txt.
.venv/
venv/
ENV/
env/

# Кэш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Артефакты сборки (PyInstaller, setuptools и т.д.)
/build/
/dist/
*.spec
*.egg-info/
/site/

# Файлы IDE и редакторов кода
# Чтобы настройки одного разработчика не мешали другому.
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Личные или временные файлы
todo.md
repomix-output.xml

# Игнорирование папки со сборкой документации
/docs/_build/
